MetalBandBakery.Infra/Connected Services/Replace.WCF/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59494/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="NeedToBeReplace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="product" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedToBeReplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NeedToBeReplaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="product" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>