MetalBandBakery.console/Connected Services/Inventory.WCF/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55243/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55243/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CheckStock_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStock" />
  </wsdl:message>
  <wsdl:message name="IService_CheckStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStock_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStock" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ManyStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ManyStock" />
  </wsdl:message>
  <wsdl:message name="IService_ManyStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManyStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CanBeRemoved_InputMessage">
    <wsdl:part name="parameters" element="tns:CanBeRemoved" />
  </wsdl:message>
  <wsdl:message name="IService_CanBeRemoved_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanBeRemovedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddStock_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStock" />
  </wsdl:message>
  <wsdl:message name="IService_AddStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CheckStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckStock" message="tns:IService_CheckStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckStockResponse" message="tns:IService_CheckStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveStock" message="tns:IService_RemoveStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveStockResponse" message="tns:IService_RemoveStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManyStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ManyStock" message="tns:IService_ManyStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ManyStockResponse" message="tns:IService_ManyStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanBeRemoved">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CanBeRemoved" message="tns:IService_CanBeRemoved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CanBeRemovedResponse" message="tns:IService_CanBeRemoved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddStock" message="tns:IService_AddStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddStockResponse" message="tns:IService_AddStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStock">
      <soap:operation soapAction="http://tempuri.org/IService/CheckStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStock">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManyStock">
      <soap:operation soapAction="http://tempuri.org/IService/ManyStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanBeRemoved">
      <soap:operation soapAction="http://tempuri.org/IService/CanBeRemoved" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <soap:operation soapAction="http://tempuri.org/IService/AddStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55243/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>